<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>ActivityPlanner</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>ActivityPlanner</h1>
  <nav>
    <a href="/past-activities">Vergangene Aktivitäten</a>
  </nav>
  <p>Willkommen!</p>
</body>
</html>
